{% extends "base.html" %}

{% block content %}

<h3 id="status">Connecting...</h3>
<h3 style="margin-top: 2%; margin-bottom: 1%;">You are listening to:</h3>
<h3 id="prediction"></h3>

<script>

    navigator.mediaDevices.getUserMedia({ audio: true }).then((stream) => {
        if (!MediaRecorder.isTypeSupported('audio/webm; codecs=opus'))
            return alert('Browser not supported')

        const mediaRecorder = new MediaRecorder(stream, {
            mimeType: 'audio/webm; codecs=opus',
        })

        const socket = new WebSocket('ws://localhost:8000/stream/listen')

        mediaRecorder.addEventListener('dataavailable', async (event) => {
            if (event.data.size > 0 && socket.readyState == 1) {
                socket.send(event.data)
            }
        })

        function sendData() {
            // if (mediaRecorder.state != "inactive") {
            //     mediaRecorder.stop()
            // }
            mediaRecorder.start()
            setTimeout(function () {
                if (mediaRecorder.state != "inactive") {
                    mediaRecorder.stop()
                }
                sendData()
            }, 3000);
        }

        socket.onopen = () => {
            document.querySelector('#status').textContent = 'Connected'
            console.log({ event: 'onopen' })
            sendData()
        }

        socket.onmessage = (message) => {
            const received = JSON.parse(message.data);
            if (received) {
                console.log(received)
                document.querySelector('#prediction').textContent = received.prediction
            }
        }

        socket.onclose = () => {
            console.log({ event: 'onclose' })
        }

        socket.onerror = (error) => {
            console.log({ event: 'onerror', error })
        }

    })

</script>

{% endblock %}